.lumea-container {
    font-family: Poppins;

    h2 {
        color: #230d07;
        font-size: 64px;
        font-weight: 700;
        line-height: 150%; /* 96px */
        letter-spacing: 1.92px;
        margin-bottom: 24px;

        @media (max-width: 1024px) {
            font-size: 48px;
        }
        @media (max-width: 640px) {
            font-size: 32px;
        }
    }

    h3 {
        color: #230d07;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;

        @media (max-width: 1024px) {
            font-size: 32px;
        }
        @media (max-width: 640px) {
            font-size: 24px;
        }
    }

    h5 {
        color: #230d07;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 1024px) {
            font-size: 18px;
        }
        @media (max-width: 640px) {
            font-size: 13px;
        }
    }

    section {
        padding: 40px 120px;

        @media (max-width: 1024px) {
            padding: 20px 60px;
        }
        @media (max-width: 640px) {
            padding: 18px 40px;
        }
    }

    .light-tag,
    .dark-tag {
        border-radius: 8px;
        padding: 10px 16px;
        display: flex;
        box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.1);
        font-size: 24px;
        font-weight: 400;

        @media (max-width: 1024px) {
            font-size: 20px;
        }
        @media (max-width: 640px) {
            font-size: 18px;
        }
    }

    .light-tag {
        background: #ffcdb2;
    }

    .dark-tag {
        background: #ff9b89;
    }

    .hero-img {
        rotate: 328deg;
        position: absolute;
        right: -58px;
        top: -763px;
        width: 732px;
        height: 1796px;
    }

    .hero-cont {
        padding: 10%;
        position: relative;
        overflow: hidden;

        p {
            color: #230d07;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.6px;

            @media (max-width: 1024px) {
                font-size: 18px;
            }
            @media (max-width: 640px) {
                font-size: 16px;
            }
        }
    }

    .hero-cont::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 200%;
        top: -50%;
        right: -70%;
        z-index: -1;
        background: url('./assets//LumeaHero.png') no-repeat;
        background-size: 732px 1796px;
        transform: rotate(328deg);

        @media (max-width: 1024px) {
            top: -30%;
            right: -110%;
            background-size: 500px 1200px;
        }

        @media (max-width: 420px) {
            top: -30%;
            right: -180%;
            background-size: 300px 700px;
        }
    }

    .hero-sub-header {
        color: #230d07;
        font-size: 40px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.2px;

        @media (max-width: 1024px) {
            font-size: 30px;
        }
        @media (max-width: 640px) {
            font-size: 20px;
        }
    }

    .lumea-sticker {
        width: 200px;
        height: 180px;
        border-radius: 3px;
        padding: 10px 16px;
        background: var(--Nude, #ffcdb2);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
            1px 4px 8px 0px rgba(0, 0, 0, 0.1),
            2px 14px 14px 0px rgba(0, 0, 0, 0.09),
            5px 32px 19px 0px rgba(0, 0, 0, 0.05),
            9px 56px 23px 0px rgba(0, 0, 0, 0.01),
            15px 88px 25px 0px rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #230d07;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.72px;
        z-index: 100;

        @media (max-width: 1024px) {
            font-size: 20px;
        }
        @media (max-width: 640px) {
            font-size: 18px;
        }
    }

    .lumea-sticker-hero-1 {
        transform: rotate(6.721deg);
    }
    .lumea-sticker-hero-2 {
        transform: rotate(-1.712deg);
        margin-left: 40px;
    }

    .ux-tag {
        color: #230d07;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */
        border-radius: 10px;
        background: #f4f4f4;
        box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.1);
        padding: 16px;
        width: max-content;

        @media (max-width: 1024px) {
            font-size: 14px;
        }
        @media (max-width: 640px) {
            font-size: 12px;
        }
    }

    .gender-section {
        width: 100%;
        p {
            color: #230d07;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 300;
            line-height: 160%; /* 32px */
            letter-spacing: 0.6px;

            @media (max-width: 1024px) {
                font-size: 14px;
            }
            @media (max-width: 640px) {
                font-size: 12px;
            }
        }
    }
    .highlight-wrapper {
        border-radius: 31px;
        background: #f6f6f6;
        padding: 5%;

        @media (max-width: 1024px) {
            border-radius: 10px;
        }
    }

    .color-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;

        h4 {
            font-size: 24px;
            @media (max-width: 1024px) {
                font-size: 16px;
            }
        }
        h5 {
            font-size: 18px;
            @media (max-width: 1024px) {
                font-size: 12px;
            }
        }
    }

    .color-shape {
        border-radius: 20px 0px 20px 0px;
        width: 120px;
        height: 105px;

        @media (max-width: 1024px) {
            border-radius: 10px 0px 10px 0px;
            width: 60px;
            height: 50px;
        }
    }
    .color-sub-header {
        font-weight: 500;
        font-size: 32px;
        @media (max-width: 1024px) {
            font-size: 18px;
        }
    }

    .flow-section {
        p {
            font-size: 18px;
            text-align: center;
            padding: 2%;
            max-width: 880px;

            @media (max-width: 1024px) {
                font-size: 12px;
            }
        }
        img {
            margin: 20px 0;
        }
    }

    .test-card {
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 18px;

        @media (max-width: 1024px) {
            padding: 24px;
            border-radius: 10px;
        }
        @media (max-width: 640px) {
            padding: 16px;
        }

        h6 {
            font-weight: 600;
            font-size: 24px;
            @media (max-width: 1024px) {
                font-size: 20px;
            }
            @media (max-width: 640px) {
                font-size: 16px;
            }
        }
        p {
            font-size: 18px;
            letter-spacing: 0.54px;

            @media (max-width: 1024px) {
                font-size: 14px;
            }
            @media (max-width: 640px) {
                font-size: 12px;
            }
        }
    }
}
