@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #fbfaf6 !important;
    padding: 0;
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #fbfaf6 !important;
    }
}

h3,
h4,
h5,
h6,
p {
    line-height: 150%;
    letter-spacing: 0.6px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
    z-index: 20;
}

.custom-container {
    padding: 0 94px;
    max-width: 1440px;
    margin: auto;
    background-color: #fbfaf6;

    @media (max-width: 1280px) {
        padding: 0 40px;
    }
    @media (max-width: 640px) {
        padding: 0 12px;
    }
}
/* HEADINGS FOR LANDING PAGE */

.custom-container {
    h1 {
        font-size: 120px !important;
        line-height: 101.7%; /* 122.04px */
        letter-spacing: 2.4px;
        font-family: 'Lalezar';

        @media (max-width: 1024px) {
            font-size: 80px !important;
        }
        @media (max-width: 640px) {
            font-size: 64px !important;
        }
    }

    p {
        @media (min-width: 1024px) {
            font-size: 18px !important;
        }
        @media (max-width: 1024px) {
            font-size: 16px !important;
        }
        @media (max-width: 640px) {
            font-size: 12px !important;
        }
    }

    h4 {
        @media (min-width: 1024px) {
            font-size: 48px !important;
        }
        @media (max-width: 1024px) {
            font-size: 32 px !important;
        }
        @media (max-width: 640px) {
            font-size: 20px !important;
        }
    }

    h5 {
        @media (min-width: 1024px) {
            font-size: 32px !important;
        }
        @media (max-width: 1024px) {
            font-size: 24px !important;
        }
        @media (max-width: 640px) {
            font-size: 18px !important;
        }
    }
    section {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.action-text {
    @media (min-width: 1024px) {
        font-size: 16px !important;
    }
    @media (max-width: 1024px) {
        font-size: 14px !important;
    }
    @media (max-width: 640px) {
        font-size: 13px !important;
    }
}

.aboutItemAnimate:hover {
    animation: aboutItemAnimation 1s ease 0s 1 normal forwards;
    max-width: 800px;
}
@keyframes aboutItemAnimation {
    0% {
        transform: scale(1);
        transform-origin: 0% 50%;
    }

    100% {
        transform: scale(1.4);
        transform-origin: 0% 50%;
    }
}

.footer-bg {
    background-image: url('./assets/footershapeimage.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;

    @media (max-width: 640px) {
        background-image: url('./assets/mobilefooter.jpg');
        background-size: cover;
    }
}

.noise-image {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

.work-section {
    @media (max-width: 640px) {
        padding-top: 0 !important;
    }
}
.work-section img {
    z-index: 20;
}

#mystory {
    z-index: 20;
}

.icon-container svg {
    @media (min-width: 1024px) {
        width: 33px !important;
    }
    @media (max-width: 1024px) {
        width: 27px !important;
    }
    @media (max-width: 640px) {
        width: 24px !important;
    }
}

.svg-container {
    width: 130px;
    height: 130px;
    overflow: hidden;
}

@keyframes reveal {
    to {
        mask-position: 100% 0;
    }
}

/* Apply the animation to the SVG element */
.svg-container svg path {
    animation: reveal 2s ease-in forwards;
}

@keyframes raindrop {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-arrow-svg-container svg path {
    animation: raindrop 1s ease-in-out forwards;
    animation-delay: 1s; /* Delay the animation for a smoother effect */
}

@keyframes arm1Animation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}

/* Apply the animation to 'arm1' with a 0.1s delay */
#arm1 {
    animation: arm1Animation 500ms infinite 0.1s;
}

/* Define keyframes for arm2 animation */
@keyframes arm2Animation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}

/* Apply the animation to 'arm2' with a 0.2s delay */
#arm2 {
    animation: arm2Animation 500ms infinite 0.2s;
}

.doggie-svg {
    width: 200px;
    height: 150px;
    z-index: 20;

    @media (max-width: 640px) {
        width: 120px;
    }
}

.contact-doggie-wrapper {
    background: url('./assets/redbg.png');
    background-size: 370px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 400px;

    @media (max-width: 1024px) {
        background-size: 295px;
        width: 100%;
    }

    @media (max-width: 640px) {
        background-size: 270px;
        width: 100%;
    }
}

.email-wrapper {
    z-index: 20;
    display: inline-flex;
    transform: rotate(-2.507deg);
    padding: 25px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 3px solid #000;
    background: #b5f5d1;
    box-shadow: 3px 4px 0px 0px #000;
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 101.7%; /* 32.544px */

    @media (max-width: 640px) {
        font-size: 18px;
    }
}

.text-flow-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.text-flow {
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    animation: leftright 20s linear infinite both;
}

.text-flow:nth-child(2) {
    opacity: 0;
    animation: leftright2 20s linear infinite;
    animation-delay: 20s;
}

@keyframes leftright {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes leftright2 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 1;
    }
}

.m-scroll {
    display: flex;
    position: relative;
    width: 100%;
    height: 70px;
    margin: auto;
    overflow: hidden;
    border: 3px solid black;

    .m-scroll__title {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        transform: scale(2);
        transition: all 1s ease;

        @media (max-width: 640px) {
            transform: scale(1.3);
        }
        div {
            display: flex;
            animation: scrollText 33s infinite linear;
        }
        h6 {
            margin: 0;
            font-size: 14px;
            transition: all 2s ease;
        }
    }
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

/* .aboutItem-hover {
    max-width: 600px;
    margin: 24px 0;
    transform: scale(1.5);
    backdrop-filter: blur(1);
    transition: transform 0.3s ease;
} */

.animate-cv-svg .cv-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear backwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

/* Initially hide the .nav-underline path */
.nav-underline path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.nav-underline {
    width: 100%;
}

/* Animate the .nav-underline path when hovering over the <a> element */
.nav-item:hover .nav-underline path {
    animation: drawUnderline 1s forwards;
}

@keyframes drawUnderline {
    to {
        stroke-dashoffset: 0;
    }
}
